<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="myUserLabel" jhiTranslate="userDevice.home.createOrEditLabel">Create or edit a device</h2>

      <jhi-alert-error></jhi-alert-error>

      <div class="mb-3" [hidden]="!editForm.value.id">
        <label jhiTranslate="global.field.id">ID</label>
        <input type="text" class="form-control" name="id" formControlName="id" readonly />
      </div>

      <div class="mb-3">
        <label class="form-label" jhiTranslate="userDevice.name">Name</label>
        <input type="text" class="form-control" name="name" formControlName="name" />

        <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </small>

          <small
            class="form-text text-danger"
            *ngIf="editForm.get('name')?.errors?.maxlength"
            jhiTranslate="entity.validation.maxlength"
            [translateValues]="{ max: 100 }"
          >
            This field cannot be longer than 100 characters.
          </small>
        </div>
      </div>

      <div class="mb-3" *ngIf="deviceTypes && deviceTypes.length > 0 && isCreating">
        <laicbel jhiTranslate="userDevice.deviceType">Device type</laicbel>
        <select class="form-control" id="deviceType" name="deviceType" formControlName="deviceType">
          <option *ngFor="let dp of deviceTypes" [value]="dp">{{ dp }}</option>
        </select>
      </div>

      <div class="mb-3" *ngIf="deviceActions && deviceActions.length > 0 && isCreating">
        <laicbel jhiTranslate="userDevice.deviceAction">Device type</laicbel>
        <select class="form-control" id="deviceAction" name="deviceAction" formControlName="deviceAction">
          <option *ngFor="let da of deviceActions" [value]="da">{{ da }}</option>
        </select>
      </div>

      <button type="button" class="btn btn-secondary" (click)="previousState()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
      </button>

      <button type="submit" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
        <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
      </button>
    </form>
  </div>
</div>
